<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>로그인</title>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>

<body>
    <h1>로그인</h1>
    <form name="userLogin">
        <input type="text" id="userid" placeholder="아이디"><br>
        <input type="password" id="pw" placeholder="비밀번호"><br>
        <button type="button" onclick="loginUser()">로그인</button>
    </form>



    <script>

        async function loginUser() {
            const data = {
                userid: document.querySelector('#userid').value,
                pw: document.querySelector('#pw').value,
            };
            const res = await axios({
                method: 'POST',
                url: '/user/login',
                data
            })
            if (res.data.result) {
                alert('로그인 하였습니다');
                window.location.href = '/user';
            } else {
                alert('로그인에 실패 하였습니다');
            }

        }
    </script>
</body>

</html>