<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>express 실습4</title>
    <link rel="stylesheet" href="css/styleT4_1.css">
</head>

<body>
    <h1>첫번째 페이지!</h1>
    <img src="img/바나나.jpg" alt="">
    <br>
    <a href="http://localhost:8000/T4_2"> 두번째 페이지로 이동합니다</a>
</body>

</html>