<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>z-index 실습</title>
    <link rel="stylesheet" href="/css/styleT1.css">
</head>

<body>
    <div class="item-body item-body-1">
        <div class="item-eye item-eye-1"></div>
        <div class="item-eye item-eye-2"></div>
    </div>
    <div class="item-body item-body-2"></div>
    <div class="item-body item-body-3"></div>
    <div class="item-body item-body-4"></div>
    <div class="item-body item-body-5"></div>
    <img src="img/pngwing.com.png" class="item-pngwing">
</body>

</html>