/* 
  TODO: HTML 요소들의 크기는 미리 설정해 두었습니다.
  position, animation 등을 활용하여 과제를 완성해주세요!
*/
body {
  width: 100%;
}

section {
  width: 700px;
  height: 450px;
}

section .sky {
  width: 100%;
  height: 100%;
  position: relative;
  animation: skyChange 6s linear infinite;
}

section .sky .sun {
  width: 100px;
  margin: 50px;
  position: absolute;
  animation: sunRotation 6s linear infinite;
}

section .sky .moon {
  width: 80px;
  margin: 50px;
  position: absolute;
  animation: moonRotation 6s linear infinite;
}

section .sky .cloud_1 {
  width: 130px;
  margin-top: 100px;
  position: absolute;
  animation: movecloud_1 6s ease-in infinite;
}

section .sky .cloud_2 {
  width: 80px;
  margin-top: 120px;
  position: absolute;
  animation: movecloud_2 6s ease-in infinite;
}

section .city .city_img {
  width: 100%;
  /* position:  */
}

/* ANIMATION */
/* 
  TODO:.5종류의 애니메이션이 필요함
  - sky: 배경색 변경 애니메이션
  - sun: sun.png가 회전하는 애니메이션
  - moon: moon.png가 회전하는 애니메이션
  - cloud_1: 큰 구름이 좌우로 이동하는 애니메이션
  - cloud_2: 작은 구름이 좌우로 이동하는 애니메이션
*/

@keyframes skyChange {
  0% {
    background-color: #636888;
  }

  25% {
    background-color: #b1e1e2;
  }

  50% {
    background-color: #fcd2e2;
  }

  75% {
    background-color: #675577;
  }

  100% {
    background-color: #636888;
  }
}

@keyframes sunRotation {
  0% {
    transform: rotate(0deg);
    opacity: 0;
  }

  25% {
    transform: rotate(90deg);
    opacity: 0.5;
  }

  50% {
    transform: rotate(180deg);
    opacity: 1;
  }

  75% {
    transform: rotate(270deg);
    opacity: 0.3;
  }

  100% {
    transform: rotate(360deg);
    opacity: 0;
  }
}

@keyframes moonRotation {
  0% {
    transform: rotate(0deg);
    opacity: 1;
  }

  25% {
    transform: rotate(90deg);
    opacity: 0.3;
  }

  50% {
    transform: rotate(180deg);
    opacity: 0;
  }

  75% {
    transform: rotate(270deg);
    opacity: 0.5;
  }

  100% {
    transform: rotate(360deg);
    opacity: 1;
  }
}

@keyframes movecloud_1 {
  0% {
    margin-left: 80%;
    opacity: 0;
  }

  25% {
    margin-left: 50%;
    opacity: 0.5;
  }

  50% {
    margin-left: 20%;
    opacity: 1;
  }

  75% {
    margin-left: 50%;
    opacity: 0.5;
  }

  100% {
    margin-left: 80%;
    opacity: 0;
  }
}

@keyframes movecloud_2 {
  0% {
    margin-left: 80%;
    opacity: 0.5;
  }

  25% {
    margin-left: 20%;
    opacity: 0;
  }

  50% {
    margin-left: 40%;
    opacity: 1;
  }

  75% {
    margin-left: 70%;
    opacity: 0.2;
  }

  100% {
    margin-left: 80%;
    opacity: 0;
  }
}

/*
  참고: 알아야 할 속성 소개
  oapcity: 0 ~ 1 사이의 값으로 불투명도를 설정할 수 있음
  - 0: 요소가 완전히 투명해 보이지 않음
  - 0~1 사이의 값: 요소가 반투명해 뒤에 내용을 볼 수 있음
  - 1: 요소가 불투명함 
*/

/*
  참고: 배경 색상 종류
  - background-color: #636888;
  - background-color: #b1e1e2;
  - background-color: #fcd2e2;
  - background-color: #675577;
  - background-color: #636888;
*/