<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="/socket.io/socket.io.js"></script>
    <title>Document</title>

    <style>
        #mychat {
            display: flex;
            width: 30px;
            background-color: yellow;
            justify-content: center;
        }

        #otherchat {
            display: flex;
            width: 30px;
            background-color: rgb(186, 186, 255);
            justify-content: center;
        }
    </style>
</head>

<body>
    <div style="width: 200px; height: 300px; background-color: aquamarine;">

    </div>

    <input type="text" id="message" placeholder="채팅내용"><br>
    <button onclick="chating()">채팅</button>


    <script>

        const div = document.querySelector('div')
        //클라이언트 소켓 연결
        const socket = io()
        const msg = document.querySelector('#message')

        const chatRoom = prompt('채팅방명을 입력하세요')
        socket.emit('join', chatRoom)

        function chating() {
            socket.emit('message', msg.value)
            msg.value = ''
        }

        socket.on('chat', (info) => {
            // console.log(socket.rooms)
            // console.log(res)
            //console.log(id)
            //console.log(socket.id)
            if (info.id == socket.id) {
                div.innerHTML += `<div align="right"> <p id='mychat'>${info.message}</p> </div><br>`
            } else {
                div.innerHTML += `<div align="left"> <p  id='otherchat'>${info.message}</p> </div><br>`
            }
            //div.innerHTML = `<div align="right"> ${res} </div>`
        })

    </script>
</body>

</html>