<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

</head>

<body>
    <h1>로그인</h1>
    <form onsubmit="login(event)">
        <input type="text" id="id" placeholder="아이디"><br>
        <input type="password" id="pw" placeholder="비밀번호"><br>
        <button type="submit">로그인</button>
    </form>

    <script>
        async function login(event) {
            event.preventDefault(); //기본 제출을 멈추게 함
            try {
                const res = await axios({
                    method: 'POST',
                    url: '/signin',
                    data: {
                        userid: document.querySelector('#id').value,
                        pw: document.querySelector('#pw').value
                    }
                })
                if (res.data.result) {
                    //res.data -> axios, data.name은 보낸 데이터
                    alert(`${res.data.data.name}님 로그인 성공`)
                    document.location.href = `/userinfo/${res.data.data.id}`
                } else {
                    alert('로그인 실패')
                    document.location.reload()
                }
            } catch (error) {
                console.log(error)
            }

        }
    </script>
</body>

</html>