<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>회원정보 추가</h1>

    <form action="/useradd" method="post">
        이름: <input type="text" id="name" name="name"><br>
        성별: <input type="text" id="gender" name="gender"><br>
        전공: <input type="text" id="major" name="major"><br>
        <button type="submit">추가</button><br>
    </form>
    <a href="/userlist">회원 리스트 보기</a>
</body>

</html>