<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FORM 싱글 연습</title>
</head>

<body>
    <form action="/upload" method="post" enctype="multipart/form-data">
        <input type="file" name="userfile"> <br>
        <input type="text" name="title"><br>
        <button type="submit">업로드</button>
    </form>
</body>

</html>